.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  padding-top: 15vh;
  height: 100vh;
  border-radius: 1rem;
}
.main > * {
  margin: 10px;
}
.name {
  color: white;
  max-width: 70%;
  text-align: center;
}
.desc {
  color: #8bacda;
  max-width: 60%;
  text-align: center;
}
.imageWrapper {
  border-radius: 20px;
  display: grid;
  place-content: center;
}
.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.addressComponent {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.ConnectModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  border: 1px solid red;
  height: 100%;
}
.walletWrapper {
  border: 1px solid #2f415b;
  padding-bottom: 5px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.walletWrapper:hover {
  transform: scale(1.05);
}
.walletDesc {
  font-size: 0.7rem;
}

@media only screen and (max-width: 360px) {
  .name {
    font-size: 1.7rem;
  }
}
